<div class="container">
<form class="form">

  <button class="top-button" color="primary" mat-raised-button>Log-In</button>
  <button class="top-button" color="primary" mat-raised-button>Cadastrar</button>

  <br>

  <mat-form-field class="field">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <br>

  <mat-form-field class="field">
    <mat-label>Nome</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <br>

  <mat-form-field class="field">
    <mat-label>Sobrenome</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <br>

  <mat-form-field class="field">
    <mat-label>CPF</mat-label>
    <input matInput placeholder="">
  </mat-form-field>

  <br>

  <button class="button" color="primary" mat-raised-button>Enviar</button>

</form>
</div>
